body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-style: italic;
    text-align: center;
    padding-top: 40px;
    background-image: url("https://img.freepik.com/free-photo/2d-graphic-wallpaper-with-colorful-grainy-gradients_23-2151001557.jpg?t=st=1723460589~exp=1723464189~hmac=ae0f6526d69e0640563439b0cbf56f38f247685fde8d4452e81c60b122068af6&w=360");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: none;
}

.container {
    margin: -80px auto 0 auto;
    max-width: 1200px;
    padding: 40px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#login-form {
    width: 40%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form input[type="password"] {
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

#login-form button[type="button"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#login-form button[type="button"]:hover {
    background-color: #3e8e41;
}

#Madhu {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

#heading {
    position: relative;
    animation: oscillate 2s infinite;
    font-family: Verdana, sans-serif;
    font-weight: light;
}

#heading.loggedIn {
    animation: wobble 0.5s infinite;
    font-family: 'Lucida Handwriting', cursive;
}

#name {
    border-right: 0.15em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    opacity: 0;
    font-family: Garamond, sans-serif;
    font-weight: light;
    margin-bottom: 30px;
}

#name.animate {
    animation: typewriter 3s steps(40) 2s forwards;
    opacity: 1;
}

#subheading {
    font-family: 'Lucida Handwriting', cursive;
    text-align: center;
    margin-top: 20px;
}

@keyframes oscillate {
    0% {
        left: 0;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0;
    }
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes typewriter {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 20px 0;
        border-radius: 20px;
    }
    #login-form {
        width: 80%;
        padding: 20px;
        border-radius: 20px;
    }
    #Madhu {
        width: 80%;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 480px) {
    #login-form {
        padding: 10px;
        border-radius: 20px;
    }
    #Madhu {
        width: 100%;
        border-radius: 20px;
    }
}